<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1>Collaborative stock price viewer</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 well">
      <h4>Currently watched stocks</h4>
      <p *ngIf="stocks.length === 0">There are currently no stocks to watch</p>

      <div class="table-responsive">
        <table *ngIf="stocks.length > 0" class="table table-condensed">
          <tr>
            <th></th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Exchange</th>
          </tr>
          <tr *ngFor="let stock of stocks">
            <td><a class="btn btn-danger btn-xs" (click)="removeStock(stock)"><span class="glyphicon glyphicon-remove"></span></a></td>
            <td>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.exchange}}</td>
          </tr>
        </table>
      </div>
      <a (click)="updateChart()"> Update chart</a>
      <hr>
      <h4>Add stock</h4>
      <div class="form-group">
        <input [ngFormControl]="searchStock" type="text" class="form-control" id="searchStock" placeholder="Search a stock">
      </div>
      <div class="table-responsive">
        <p class="bg-warning" *ngIf="searchStockResults.length === 0 && !queryUnderway && searchStock.value && searchStock.value.length>0">
          <span class="glyphicon glyphicon-warning-sign"></span>No stocks could be found for the query {{ searchStock.value }}.
        </p>
        <p *ngIf="queryUnderway">Searching results...<p>
        <table *ngIf="searchStockResults.length > 0" class="table table-condensed">
          <tr>
            <th></th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Exchange</th>
          </tr>
          <tr *ngFor="let stock of searchStockResults">
            <td><a class="btn btn-success btn-xs" (click)="addStock(stock)"><span class="glyphicon glyphicon-plus"></span></a></td>
            <td>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.exchange}}</td>
          </tr>
        </table>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <h4>Features used in this project</h4>
          <dl>
            <dt>rxjs</dt><dd>Binding of input value to query</dd>
            <dt>JSONP</dt><dd>Retrieving stocks and historical quotes from a web service</dd>
            <dt>ng2-charts</dt><dd>Visualizing the stock data (also shows how to integrate 3rd party libs into CLI build)</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-8">
          <p *ngIf="message" class="bg-warning">{{message}}</p>
          <base-chart class="chart" *ngIf="lineChartData.length > 0"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="true"
                [chartType]="'line'"
                ></base-chart>
          <p *ngIf="lineChartData.length === 0">Please add some stocks to visualize their historical values</p>

    </div>

  </div>

  <!--{{x | async | json}}-->

</div>